apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- serviceaccount.yaml
- role.yaml
- rolebinding.yaml
- deployment.yaml

namespace: hello

labels:
- includeSelectors: true
  pairs:
    app: configmap-watcher