---
name: Quality Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install black flake8 yamllint
      - name: Run Black
        run: black --check apps/
      - name: Run Flake8
        run: flake8 apps/
      - name: Run Yamllint
        run: yamllint k8s/

  tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r apps/hello-app/src/requirements.txt || true

      - name: Run hello-app tests
        working-directory: apps/hello-app/src
        run: pytest -q
